* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121214;
  padding: 74px 102px;
  display: grid;
  justify-content: center;

  font-family: Mulish, sans-serif;
}

header h1 {
  color: #02799d;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
}

header p{
  color: #E1E1E6;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;

  margin-bottom: 65px;
}

main {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 370px);
  column-gap: 60px;
  row-gap: 45px;
}

.card {
  border-radius: 8px;
  border: 2px solid #323238;
  background: #202024;
}

.card h2 {
  color: #e1e1e6;
  font-size: 35px;
  font-weight: 900;
  padding: 24px 32px 0;
}

.card p {
  color: #c4c4cc;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 32px 32px;
}

.card img {
  border-radius: 8px 8px 0 0;
}
